<!DOCTYPE html>
html(lang="ar", dir="rtl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Almarai:300,400,700,800&display=swap&subset=arabic" rel="stylesheet")
    link(rel="stylesheet", href="/static/css/libs/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/static/css/libs/open-iconic-bootstrap.css")
    link(rel="stylesheet", href="/static/css/main.css")

    block styles
body
  include ./components/navbar
  +nav()


  block content

  footer.p-2
    .container
      div.text-center
        span.text-muted.mr-2 جميع الحقوق محفوظة © 2020
        span.text-muted تم التطوير بواسطة 
          a.text-muted(href="https://mohammedayman.herokuapp.com/") Mohammed Ayman
  script(src="/static/js/libs/jquery.js")             
  script(src="/static/js/libs/bootstrap/bootstrap.min.js")

  block scripts
