mixin editNumberModal()
    #exampleModalCenter.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalCenterTitle", aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content(method="post",action="/users/phone" )
                .modal-header
                    h5#exampleModalCenterTitle.modal-title يبدو أنك لم تسجل رقمك
                    button.close.float-left(style="margin: -1rem -1rem auto;" type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    p نحن نستخدم رقمك للتواصل معك
                    .form-group
                        label(for='number') أدخل رقمك
                        input#number.form-control(type='number' name="phone" aria-describedby='emailHelp' placeholder='0123456789')
                        small.form-text.text-danger.d-none(id="phoneError") تأكد من إدخال الرقم الصحيح

                .modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal") إغلاق
                    button.btn.btn-primary#add_phone() أضف 
