extends ./layout.pug

block content
    .col-12
        h3.header.my-5 إحصائيات
    .col-md-4
        .card.text-white.bg-info.mb-3
            .card-header عدد اللابات
            .card-body
                h5.card-title=laps
    .col-md-4
        .card.bg-light.mb-3
            .card-header عدد العملاء
            .card-body
                h5.card-title=users
    .col-md-4
        .card.text-white.bg-dark.mb-3
            .card-header عدد الطلبيات
            .card-body
                h5.card-title=orders
