extends ../layout.pug
block styles
    link(rel="stylesheet", href="/static/plugins/summernote/summernote-bs4.css")

block content
    section(style="direction: rtl").my-4
        .container
            -if(error_msg != '')
                .alert.alert-warning.alert-dismissible.fade.show(role="alert")
                    strong #{error_msg}
                    button.close(type="button", data-dismiss="alert", aria-label="Close")
                        span(aria-hidden="true") ×
            h2.header عدِّل على الجهاز
            form(enctype="multipart/form-data", method="post", action="/admin/laps/edit-lap").mt-3
                span.d-none(data-id=lap._id, data-info=lap.moreInfo)
                .row
                    .col-12.d-none
                        input(name="_id" value=lap._id)
                    .col-12
                        +textInput("اسم الجهاز:", 'title', "اسم الجهاز", lap.title)
                    .col-md-4
                        +imageInput(" أضف صورا للجهاز:", "more_images")(multiple)
                    .col-md-4
                        +numberInput("الضمان:", "warranty", "0", lap.warranty)
                    .col-md-4
                        +textInput(" البراند:" , "brand", "البراند", lap.brand)
                    .col-md-4
                        +textInput(" الموديل:" , "model", "الموديل", lap.model)
                    .col-md-4
                        +textInput(" الرامات:" , "ram", "الرامات", lap.ram)
                    .col-md-4
                        +textInput(" اللون:" , "color", "اللون", lap.color)
                    .col-md-4
                        +textInput("المعالج:" , "cpu", "المعالج", lap.cpu)
                    .col-md-4
                        +textInput("الهارد:" , "hardDisk", "الهارد", lap.hardDisk)
                    .col-md-4
                        +textInput("كارت الشاشة:" , "GPU", "كارت الشاشة", lap.GPU)

                    .col-md-4
                        +textInput("الشاشة:" , "screen", "الشاشة", lap.screen)
                    .col-md-4
                        -if (lap.tags.length == '[""]')
                            +textInput("التاجات:" , "tags", "مثال: تاج1, تاج2, تاج3", lap.tags)
                        - else 
                            +textInput("التاجات:" , "tags", "مثال: تاج1, تاج2, تاج3")
                    .col-md-4
                        +numberInput("الكمية:", "amount", lap.amount,lap.amount)
                    .col-md-4
                        +numberInput("السعر:", "price", lap.price,lap.price)
                    .col-12
                        +textarea('معلومات أخرى:','moreInfo')
                .d-flex
                    button.btn.btn-primary.px-5(type="submit") تسجيل
                    button.btn.btn-danger.mx-2(id="delete", type="button") حذف الجهاز
block scripts 
    script(src="/static/plugins/summernote/summernote-bs4.min.js")
    script.
        $(function () {$('#moreInfo').summernote()});
        $('#moreInfo').summernote('code', $("span[data-info]").attr('data-info'));
        $('button#delete').click(function () {
            $.ajax({
                url: "/admin/laps",
                type: "post",
                data: { id: $("span[data-id]").attr('data-id') }
            }).done(function (server_data) {
                //Once you have success, use jQuery to display server data
                window.location = "/admin/laps/"
            })
        });